<div id="login" class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-8 col-md-6 col-lg-4">
            <div class="card mt-5">
                <div class="card-body">
                    <h3 class="text-center my-3">Inicia sesión en CatApp</h3>
                    <%= render 'layouts/messages' %>
                    <%= form_for(:session, :html => {class: "form-horizontal", role: "form"}, url: login_path) do |f| %>

                        <div class="form-group row">
                            <div class="col-8 mx-auto">

                              <%= f.email_field :email, class: "form-control", placeholder: "Email", required: "required", autofocus: "autofocus"%>
                            
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-8 mx-auto">

                                <%= f.password_field :password, class: "form-control", placeholder: "Contraseña", required: "required"%>

                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-6 mx-auto text-center">
                                <div class="form-check">
                                    <label  for="remember">
                                    <input  type="checkbox" name="remember" id="remember">
                                    Recuérdame</label>

                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-6 mx-auto text-center">
                            <%= f.submit "Iniciar sesión", class: "btn btn-primary "%>
                            </div>
                        </div>

                        <% end %>

                        <div class="row ">
                            <div class="col-12  text-center">
                            <span>¿Eres un nuevo usuario? <%= link_to "Registrate", signup_path, class: "btn btn-link"%></span>
                              
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>