<script>
window.onmousedown = function (e) {
    var el = e.target;
    if (el.tagName.toLowerCase() == 'option' && el.parentNode.hasAttribute('multiple')) {
        e.preventDefault();

        // toggle selection
        if (el.hasAttribute('selected')) el.removeAttribute('selected');
        else el.setAttribute('selected', '');

        // hack to correct buggy behavior
        var select = el.parentNode.cloneNode(true);
        el.parentNode.parentNode.replaceChild(select, el.parentNode);
    }
}</script>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="card mt-3">
        <div class="card-head bg-red">
            <h1 class="text-center my-2 text-white">
              <% if !@user.new_record? %>
                Editar Usuario
              <% else %>
                Nuevo Usuario
              <% end %>
            </h1>
        </div>
        <div class="card-body">
        <%= render 'shared/errors', obj: @user %>
          <%= form_for(@user, :html => {class: "", role: "form"}) do |f| %>
          <%= render 'layouts/messages' %>
          <div class="row">
            <div class="col-6">
               <div class="form-group">
              <div class="col-12 mx-auto">
                <%= f.text_field :name, class: "form-control",placeholder: "Nombre", autofocus: true, required: true%>
              </div>
          </div>

          <div class="form-group">
              <div class="col-12 mx-auto">
                <%= f.text_field :dni, class: "form-control",placeholder: "DNI", required: true%>
              </div>
          </div>

          <div class="form-group">
              <div class="col-12 mx-auto">
                <%= f.phone_field :phone, class: "form-control",placeholder: "Teléfono", required: true%>
              </div>
          </div>

          <div class="form-group">
              <div class="col-12 mx-auto">
                <%= f.number_field :age, class: "form-control",placeholder: "Edad", required: true%>
              </div>
          </div>
          <div class="form-group">
              <div class="col-12 mx-auto">
                  <%= f.email_field :email, class: "form-control", placeholder: "Correo electrónico", required: true %>
              </div>
          </div>
            </div>
            <div class="col-6">
          <% if @user.new_record? %>
            <div class="form-group">
                <div class="col-12 mx-auto">
                    <%= f.password_field :password, class: "form-control", placeholder: "Contraseña", required: true %>
                </div>
            </div>

            <div class="form-group">
                <div class="col-12 mx-auto">
                    <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirmar contraseña", required: true %>
                </div>
            </div>
          <% end %>
          <!-- Para formulario de edit -->
          <% if !@user.new_record? %>
          <div class="form-group">
                <div class="col-12 mx-auto">
                    <%= f.password_field :password, class: "form-control", placeholder: "Contraseña" %>
                </div>
            </div>

            <div class="form-group">
                <div class="col-12 mx-auto">
                    <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirmar contraseña" %>
                </div>
            </div>
            <div class="form-group">
              <div class="col-12 mx-auto">
                <%= f.select :tipo, User.tipos.keys.to_a,{}, class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-12 mx-auto">
                <%= f.select :perfil, User.perfils.keys.to_a,{}, class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-12 mx-auto">
              <%= f.select(:resource_ids, Resource.all.collect {|p| [ p.name, p.id ] },{},{ class: 'form-control', :multiple => true}) %>
              </div>
            </div>
          </div>
          <% end %>
          <!-- Fin de edit de usuario -->
            
          </div>

          <div class="form-group mb-0">
            <div class="col-6 mx-auto text-center">
              <input type="submit" name="commit" value="Aceptar" class="btn btn-small btn-primary">
              <%= link_to 'Cancelar'.html_safe, '/users', class: "btn btn-small btn-danger" %>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>
</div>
</div>
