<%= render 'shared/page_title', title: "Perfil"  %>

<div class="row">
  <div class="col-12">
    <div class="card mx-auto" style="width: 30rem;">
      <div class="card-header">
        <h2><%= @user.name %></h2>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>DNI: </strong><%= @user.dni %></li>
        <li class="list-group-item"><strong>Edad: </strong><%= @user.age %></li>
        <li class="list-group-item"><strong>Teléfono: </strong><%= @user.phone %></li>
        <li class="list-group-item"><strong>Email: </strong><%= @user.email %></li>
        <li class="list-group-item"><strong>Perfil: </strong><%= @user.perfil %></li>
        <li class="list-group-item"><strong>Estado: </strong>
        <% if @user.active %>
        <%= 'Activo' %>
        <% else %>
        <%= 'Inactivo' %>
        <% end %></li>
        <li class="list-group-item"><strong>Antiguedad: </strong>
            <%= @user.created_at.strftime('%d')+ '/' +@user.created_at.strftime('%m')+ '/' +@user.created_at.strftime('%Y') %>     
        </li>
      </ul>
      <div class="card-footer text-center">
      <%= link_to '<i class="material-icons align-middle">undo</i> Volver'.html_safe, :back, class: "btn btn-small btn-primary" %>
      </div>
    </div>
  </div>
</div>
