<div class="row justify-content-center  align-items-center">
  <div class="col-12 col-md-10 col-lg-8">
    <div class="card my-5">
      <div class="card-head bg-gardient-red">
              <h1 class="text-center my-2 text-white">
                <% if !@miss.new_record? %>
                  Editar Desaparecido
                <% else %>
                  Nuevo Desaparecido
                <% end %>
              </h1>
        </div>
        <%= form_for(@miss, :html => {class: "form-horizontal", role: "form"}) do |f| %>
        <div class="card-body">
        <%= render 'shared/errors', obj: @miss %>
          <div class="row">
            <div class="col-6 justify-content-between">
              <div class="form-group text-center">
                <label for="image" class="col-12 text-center"><h3>Fotografia</h3></label>
                <% if @miss.image_url %>
                  <%= image_tag @miss.image_url, class: "w-75" %>
                <% else %>
                  <%= image_tag 'avatar.png', class: "w-75" %>
                <% end %>
                  <%= f.file_field :image%>
              </div>
            </div>
            <div class="col-4 text-center">
              <div class="form-group text-center">
                <label for="title">Nombre</label>
                <%= f.text_field :name, class: "form-control",placeholder: "Introduce el nombre", id: "title", autofocus: true %>
              </div>
              <div class="form-group text-center">
                <label for="lastname">Apellidos</label>
                <%= f.text_field :lastname, class: "form-control",placeholder: "Introduce los apellidos", id: "lastname" %>
              </div>
              <div class="form-group text-center">
                <label for="age">Edad</label>
                <%= f.number_field :age, class: "form-control",placeholder: "Introduce un número entero", id: "age" %>                    
              </div> 
              <div class="form-group text-center">
                <label for="description">Descripción</label>
                <%= f.text_area :description, class: "form-control",placeholder: "Realiza una breve descripción", id: "description" %>
              </div> 
            </div>
          </div>
          <div class="row bg-gardient-red">
              <div class="col-12">
                <h3 class="text-center text-white pt-2"><strong>Descripción física</strong></h3>
              </div>
          </div>
          <div class="row mt-4 justify-content-center">
            <div class="col-4">
              <div class="form-group text-center">
                <label for="eyes">Ojos</label>
                <%= f.select :eye, MissingPerson.eyes.keys.to_a,{}, class: "form-control", id: "eyes" %>
              </div>
              <div class="form-group text-center">
                <label for="race">Raza</label>
                <%= f.select :race, MissingPerson.races.keys.to_a,{}, class: "form-control", id: "race" %>
              </div>
              <div class="form-group text-center">
                <label for="hair">Pelo</label>
                <%= f.select :hair, MissingPerson.hairs.keys.to_a,{}, class: "form-control", hair: "hair" %>
              </div>
              <div class="form-group text-center">
                <label for="hair_color">Color de Pelo</label>
                <%= f.select :hair_color, MissingPerson.hair_colors.keys.to_a,{}, class: "form-control", id: "hair_color" %>
              </div>
            </div>
            <div class="col-4">
            <div class="form-group text-center">
                <label for="gender">Género</label>
                <%= f.select :gender, MissingPerson.genders.keys.to_a,{}, class: "form-control", id: "gender" %>                   
              </div>
              <div class="form-group text-center">
                <label for="height">Altura</label>
                <%= f.number_field :height, class: "form-control", step: "any", placeholder: "Altura en centímetros", id: "height" %>
              </div>
              <div class="form-group text-center">
                <label for="weight">Peso</label>
                <%= f.number_field :weight, class: "form-control",placeholder: "Peso en kilogramos", id: "weight" %>
              </div>
              <div class="form-group text-center">
                <label for="complexion">Complexión</label>
                <%= f.select :complexion, MissingPerson.complexions.keys.to_a,{}, class: "form-control", id: "complexion" %>
              </div>
            </div>
          </div>
          <div class="row bg-gardient-red">
            <div class="col-12">
              <h3 class="text-center text-white pt-2"><strong>Datos de contacto</strong></h3>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-4">
            <div class="form-group text-center">
              <label for="contact_name">Nombre</label>
              <%= f.text_field :contact_name, class: "form-control",placeholder: "Introduce un nombre", id: "contact_name", required: true %>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group text-center">
              <label for="relationship">Parentezco</label>
              <%= f.text_field :relationship, class: "form-control",placeholder: "Ej. Hijo, Padre, Hermano", id: "relationship", required: true %>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group text-center">
              <label for="phone">Teléfono</label>
              <%= f.phone_field :phone, class: "form-control",placeholder: "Numero de Teléfono", id: "phone", required: true %>
            </div>
          </div>
        </div>
        <div class="card-footer">
            <div class="text-center">
                <%= f.submit(@miss.new_record? ? "Añadir" : "Aceptar", class: "btn btn-small btn-primary") %>
                <%= link_to 'Cancelar'.html_safe, :back, class: "btn btn-small btn-danger" %>            
            </div>
        </div>
      </form>
      <% end %>
    </div>
  </div>
</div>
