<!DOCTYPE html>
<html>
<title>Wycorp Corp</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('/banner.jpg');
  min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("/w3images/parallax2.jpg");
  min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("/w3images/parallax3.jpg");
  min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}
</style>
<body>
<%= render 'layouts/messages' %>
<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
  <div class="w3-display-middle" style="white-space:nowrap;">
    <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">WYCORP <span class="w3-hide-small">CORP</span></span>
  </div>
</div>
<div class="row text-center justify-content-center text-light" style="background-color:#e33f20">
  <div class="col-10 p-3">
    <div class="row">
      <div class="col-4">
        <span class="w3-xlarge"><%= User.all.count%>+</span><br>
        Usuarios
      </div>
      <div class="col-4">
        <span class="w3-xlarge"><%= Resource.all.count%>+</span><br>
        Recursos
      </div>
      <div class="col-4">
        <span class="w3-xlarge"><%= MissingPerson.all.count%>+</span><br>
        Desaparecidos
      </div>
    </div>
  </div>
</div>

<!-- Container (About Section) -->
<div class="row justify-content-center text-dark">
  <div class="col-10">
    <h2 class="text-center">Cruz Roja</h2>
    <hr>
    <p>Proclamados en Viena en 1965, los siete Principios Fundamentales crean un vínculo de unión entre las Sociedades Nacionales de la Cruz Roja y de la Media Luna Roja, 
    el Comité Internacional de la Cruz Roja y la Federación Internacional de Sociedades de la Cruz Roja y de la Media Luna Roja. 
    Los Principios Fundamentales garantizan la continuidad del Movimiento de la Cruz Roja y de la Media Luna Roja y su labor humanitaria. </p>
    <div class="row justify-content-center">
      <div class="col-6">
        <%= image_tag '7principios.jpg', class: "", alt: "Protección civil", width: "80%"%>
      </div>
      <div class="col-6">
        <strong>Humanidad</strong> 
        <p>
        El Movimiento de la Cruz Roja y de la Media Luna Roja, al que ha dado nacimiento la preocupación de prestar auxilio, sin discriminación, 
        a todos los heridos en los campos de batalla, se esfuerza, bajo su aspecto internacional y nacional, en prevenir y aliviar el sufrimiento de los hombres en todas las circunstancias. 
        Tiende a proteger la vida y la salud, así como a hacer respetar a la persona humana. 
        Favorece la comprensión mutua, la amistad, la cooperación y una paz duradera entre todos los pueblos. 
        </p>

        <strong>Imparcialidad</strong> 
        <p>
         No hace ninguna distinción de nacionalidad, raza, religión, condición social ni credo político. 
         Se dedica únicamente a socorrer a los individuos en proporción con los sufrimientos, 
         remediando sus necesidades y dando prioridad a las más urgentes. 
        </p>

        <strong>Neutralidad</strong> 
        <p>
        Con el fin de conservar la confianza de todos, el Movimiento se abstiene de tomar parte en las hostilidades y, 
        en todo tiempo, en las controversias de orden político, racial, religioso o ideológico.  
        </p>
        
        <strong>Independencia</strong>
        <p>
        El Movimiento es independiente. Auxiliares de los poderes públicos en sus actividades humanitarias y sometidas a las leyes que rigen 
        los países respectivos, las Sociedades Nacionales deben, sin embargo, conservar una autonomía que les permita actuar siempre 
        de acuerdo con los principios del Movimiento.  
        </p>

        <strong>Voluntariado</strong>  
        <p>
        Es un movimiento de socorro voluntario y de carácter desinteresado.  
        </p>

        <strong>Unidad</strong> 
        <p>
        En cada país sólo puede existir una Sociedad de la Cruz Roja o de la Media Luna Roja, que debe ser accesible a todos 
        y extender su acción humanitaria a la totalidad del territorio.  
        </p>

        <strong>Universalidad</strong> 
        <p>
        El Movimiento Internacional de la Cruz Roja y de la Media Luna Roja, en cuyo seno todas las Sociedades tienen los 
        mismos derechos y el deber de ayudarse mutuamente, es universal.   
        </p>
      </div>
    </div>
  </div>
</div>


<!-- Second Parallax Image with Portfolio Text -->
<div class="bgimg-2 w3-display-container w3-opacity-min">
  <div class="w3-display-middle">
    <span class="w3-xxlarge w3-text-white w3-wide">PORTFOLIO</span>
  </div>
</div>

<!-- Container (Portfolio Section) -->
<div class="w3-content w3-container w3-padding-64" id="portfolio">
  <h3 class="w3-center">MY WORK</h3>
  <p class="w3-center"><em>Here are some of my latest lorem work ipsum tipsum.<br> Click on the images to make them bigger</em></p><br>

  <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
  <div class="row text-center justify-content-center">
    <div class="col-3">
      <a href="http://www.proteccioncivil.es/" target="_blank"><%= image_tag 'Prote.png', class: "w3-hover-opacity", alt: "Protección civil", width: "100%"%></a>
    </div>
    <div class="col-3">
      <a href="https://www2.cruzroja.es/" target="_blank"><%= image_tag 'cruzroja.jpeg', class: "w3-hover-opacity", alt: "Cruz Roja", width: "100%"%></a>
    </div>
    <div class="col-3">
      <a href="http://www.ume.mde.es/" target="_blank"><%= image_tag 'UME.svg', class: "w3-hover-opacity", alt: "Unidad Militar de Emergencias", width: "100%"%></a>
    </div>
  </div>
</div>

 
<script>
// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}
</script>

</body>
</html>