<%= render 'shared/errors', obj: @resource %>
<div class="row">
  <div class="col-md-12">
    <%= form_for(@resource, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      <% if logged_in? && current_user.tipo != "Admin" %>
        <div class="form-group">
          <div class="control-label col-md-2">
            <%= f.label :name, "Nombre" %>
          </div>
          <div class="col-md-8">
            <%= f.text_field :name, class: "form-control",placeholder: "Introduce el nombre del recurso", autofocus: true, readonly: true %>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-md-2">
            <%= f.label :localization %>
          </div>
          <div class="col-md-8">
            <%= f.text_field :localization, class: "form-control", placeholder: "Introduce localización", readonly: true%>
          </div>
        </div>
        <div class="form-group row">
          <div class="control-label col-md-2">
            <%= f.label :category, "Categoria" %>
          </div>
          <div class="col-8">
            <%= f.select :category, Resource.categories.keys.to_a, {class: 'form-control'}, { disabled: true } %>
          </div>
        </div>
      <% else %>
        <div class="form-group">
          <div class="control-label col-md-2">
            <%= f.label :name, "Nombre" %>
          </div>
          <div class="col-md-8">
            <%= f.text_field :name, class: "form-control",placeholder: "Introduce el nombre del recurso", autofocus: true %>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-md-2">
            <%= f.label :localization %>
          </div>
          <div class="col-md-8">
            <%= f.text_field :localization, class: "form-control", placeholder: "Introduce localización" %>
          </div>
        </div>
        <div class="form-group row">
          <div class="control-label col-md-2">
            <%= f.label :category, "Categoria" %>
          </div>
          <div class="col-8">
            <%= f.select :category, Resource.categories.keys.to_a, class: "form-control" %>
          </div>
        </div>
      <% end %>
      <!-- Campos extra del formulario  -->
      <%= f.fields_for :form_fields do |form| %>
        <div class="form-group">
          <div class="control-label col-md-2">
            <%= form.label :label, form.object.label %>
          </div>
          <% if form.object.input_type == "Texto"%>
            <div class="col-md-8">
              <%= form.text_field :value, class: "form-control" %>
            </div>
          <% end %>
          <% if form.object.input_type == "Número"%>
            <div class="col-md-8">
              <%= form.number_field :value, class: "form-control" %>
            </div>
          <% end %>
          <% if form.object.input_type == "Descripción"%>
            <div class="col-md-8">
              <%= form.text_area :value, class: "form-control" %>
            </div>
          <% end %>
        </div>
      <% end %>
      <!-- Fin de campos extra de formulario  -->
      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
          <%= f.submit(@resource.new_record? ? "Crear un nuevo recurso" : "Actualizar el recurso", class: "btn btn-primary btn-lg btn-xlarge") %>
        </div>
      </div>
    <% end %>
  </div>
  <!-- Para formulario de edit con el modal  -->
  <% if !@resource.new_record? && current_user.admin %>
    <!-- BOTON DE ABRIR EL MODAL -->
<button type="button" class="btn btn-primary success" data-toggle="modal" data-target="#newfield">Agregar campo
 </button>    
    <!-- MODAL DE AÑADIR CAMPO NUEVO -->
    <div class="modal fade" id="newfield" role="dialog">
      <div class="modal-dialog edit-news">
        <div class="modal-content">
          <header class="modal-header">
            <h3 class="modal-title">Añadir campo nuevo <button type="button" class="close btn btn-xs" data-dismiss="modal" aria-label="Close">X</button></h3>
          </header>
          <div class="modal-body">
            <div id="new">
              <% @new_field = FormField.new %>
              <%= form_for @new_field, html: {class: 'form-horizontal'} do |f| %>
                <%= render 'modal_field_form', f: f %>
              <% end %>
            </div>
            <footer class="modal-footer">
            </footer>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
