<%= render 'shared/errors', obj: @resource %>
<div class="row justify-content-center">
  <div class="col-5">
    <div class="card my-5">
      <div class="card-head bg-gardient-red">
        <h1 class="text-center my-2 text-white">
          <% if !@resource.new_record? %>
            Editar Recurso
          <% else %>
            Nuevo Recurso
          <% end %>
        </h1>
      </div>
      <%= form_for(@resource, :html => {class: "form-horizontal", role: "form"}) do |f| %>
        <div class="card-body">
          <div class="row justify-content-center">
            <div class="col-8">
              <% if logged_in? && current_user.tipo != "Admin" %>
            <div class="form-group text-center">
              <label for="name">Nombre</label>
              <%= f.text_field :name, class: "form-control", id: "name", placeholder: "Introduce el nombre del recurso", autofocus: true, readonly: true %>
            </div>
            <div class="form-group text-center">
              <label for="localization">Localización</label>
              <%= f.text_field :localization, class: "form-control", id: "localization", placeholder: "Introduce localización", readonly: true%>
            </div>
            <div class="form-group text-center">
              <label for="category">Categoría</label>
              <%= f.select :category, Resource.categories.keys.to_a, {class: 'form-control'}, {id: "category"}, { disabled: true } %>
            </div>
          <% else %>
            <div class="form-group text-center">
              <label for="name">Nombre</label>
              <%= f.text_field :name, class: "form-control", id: "name", placeholder: "Introduce el nombre del recurso", autofocus: true %>
            </div>
            <div class="form-group text-center">
              <label for="localization">Localización</label>
              <%= f.text_field :localization, class: "form-control", id: "localization", placeholder: "Introduce localización"%>
            </div>
            <div class="form-group text-center">
              <label for="category">Categoría</label>
              <%= f.select :category, Resource.categories.keys.to_a,{:prompt => 'Seleccionar'}, {class: 'form-control'} %>
            </div>
          <% end %>
            </div>
          </div>
          <div class="row bg-gardient-red">
            <div class="col-3"></div>
            <div class="col-6">
              <h3 class="text-center text-white pt-2"><strong>Formulario</strong></h3>
            </div>
            <div class="col-3 text-center">
              <!-- Para formulario de edit con el modal  -->
              <% if !@resource.new_record? && current_user.tipo == "Admin" %>
              <!-- BOTON DE ABRIR EL MODAL -->
              <button type="button" class="btn btn-small btn-light m-2" data-toggle="modal" data-target="#newfield"><i class="material-icons align-middle">playlist_add</i></button>
              <% end %> 
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-8 text-center py-4">
              <!-- Campos extra del formulario  -->
              <%= f.fields_for :form_fields do |form| %>
                <div class="form-group text-center">
                    <%= form.label :label, form.object.label %>
                  <div class="input-group mb-3">
                    <% if form.object.input_type == "Texto"%>
                      <%= form.text_field :value, class: "form-control" %>
                    <% end %>
                    <% if form.object.input_type == "Número"%>
                      <%= form.number_field :value, class: "form-control" %>
                    <% end %>
                    <% if form.object.input_type == "Descripción"%>
                      <%= form.text_area :value, class: "form-control", rows: "5", maxlength: 255 %>
                    <% end %>
                    <div class="input-group-append">
                      <%= link_to form_field_path(form.object.id), method: :delete, data: { confirm: "Estas seguro de que quieres borrarlo?" }, title: 'Eliminar campo' do %>
                      <i class="material-icons align-middle text-danger">close</i>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
              <!-- Fin de campos extra de formulario  -->
            </div>
          </div>
        </div>
        <div class="card-footer">
            <div class="text-center">
               <%= f.submit "Aceptar", class: "btn btn-small btn-primary" %>
              <%= link_to 'Cancelar'.html_safe, :back, class: "btn btn-small btn-danger" %>            
            </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- MODAL DE AÑADIR CAMPO NUEVO -->
<div class="modal fade" id="newfield" role="dialog">
  <div class="modal-dialog edit-news">
    <div class="modal-content">
      <div class="modal-header bg-gardient-red">
        <div class="col-3"></div>
        <div class="col-6">
          <h3 class="modal-title text-center text-white pt-2"><strong>Añadir campo</strong></h3>
        </div>
        <div class="col-3 text-center">
          <button type="button" class="close m-0" data-dismiss="modal" aria-label="Close"><i class="material-icons align-middle text-white">close</i></button>
        </div>
      </div>
      <div class="modal-body">
          <% @new_field = FormField.new %>
          <%= form_for @new_field, html: {class: 'form-horizontal'} do |f| %>
            <%= render 'modal_field_form', f: f %>
          <% end %>
      </div>
    </div>
  </div>
</div>
