<div class="row bg-gardient-red mb-3">
    <div class="col-4">
    </div>
    <div class="col-4">
        <h1 class="mt-3 text-center text-white">Recursos</h1>
    </div>
    <div class="col-4 text-right">
    <a href="/resources/new" class="mt-3 btn btn-small btn-light"><i class="material-icons align-middle">person_add</i>Nuevo</a>        
    </div>
</div>
<%= render 'layouts/messages' %>
<div class="card-deck">
<% @resources.each do |resource| %>
  <div class="col-12 col-md-6 col-lg-4 d-flex align-items-stretch">
    <div class="card mb-3">
      <div class="card-body text-center">
        <%= link_to resource.name.capitalize, resource_path(resource), class: "h2 card-title" %>
        <div class="row justify-content-center">
          <div class="col-5 text-left my-3">
            <span class="card-text text-center"><strong>Categoría:</strong></span><br/>
            <span class="card-text text-center"><strong>Localización:</strong></span>
            <span class="card-text text-center"><strong>Dotación:</strong></span>
          </div>
          <div class="col-4 text-left my-3">
            <%= resource.category %><br/>
            <%= resource.localization %><br/>
            <%= resource.users.count %>
          </div>
        </div>
        <%= link_to '<i class="material-icons align-middle">settings</i>Editar'.html_safe, edit_resource_path(resource), class: "btn btn-small btn-primary"%>
        <%= link_to '<i class="material-icons align-middle">delete</i>Borrar'.html_safe, resource_path(resource), method: :delete,class: "btn btn-small btn-danger",data: {confirm: '¿Está seguro de eliminar el recurso ' +resource.name+ '?'}%>
      </div>
      <div class="card-footer text-center">
        <small class="text-muted">Creado <%= resource.created_at %></small>
      </div>
    </div>
  </div>
<% end %>
</div>




