<%= render 'shared/page_title', title: "Recurso #{@resource.name}"  %>
<div class="row">
  <h1>Nombre: </h1>
  <%= @resource.name %>
<h1>Localizacion: </h1>
<%= @resource.localization %>
<h1>Categoria</h1>
<%= @resource.category %>
</div>

<% @resource.form_fields.each do |field|%>
  <h1><%= field.label%></h1>
  <%= field.value %>
<% end %>