<nav id="nav" class="row navbar navbar-expand-lg navbar-light bg-light align-center">
  <a href="/"><%= image_tag 'logo.svg', class: "d-inline-block align-top mx-5" %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <%= link_to "Recursos", resources_path, class: "nav-link" %>
      </li>
      <% if logged_in? && current_user.tipo == 'Admin'%>
        <li class="nav-item">
          <%= link_to "Usuarios", users_path, class: "nav-link" %>
        </li>
      <% end %>
      <li class="nav-item">
        <%= link_to "Desaparecidos", missing_people_path, class: "nav-link" %>
      </li>
    </ul>
    <!-- Right Side Of Navbar -->
    <ul class="navbar-nav text-center ml-auto mt-2">
      <li class="nav-item dropdown">
        <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
          <%= current_user.name.capitalize %> 
          <span class="caret"></span>
        </a>

        <div class="dropdown-menu dropdown-menu-right">
          <%= link_to "Perfil",user_path(current_user) %><br>
          <%= link_to "Opciones",edit_user_path(current_user) %><br>
          <%= link_to "Salir", logout_path,method: :delete %><br>
        </div>
      </li>
    </ul>
  </div>
</nav>
