<!DOCTYPE html>
<html>
  <head>
    <title>CatApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <% if logged_in? %>
   <li><%= link_to "Log out", logout_path, method: :delete %></li>
    <%#= render 'layouts/navigation' %>
    <% end %>
    <%= render 'layouts/messages' %>
    <div class="container">
      <%= yield %>
      </div>
      <%#= render 'layouts/footer' %>
  </body>
</html>
